img {
    max-width: 100%;
    width: auto;
    height: auto;
}
 body {
         font-family: luxi sans,sans-serif;
}

 {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #eee;
        color: #000;
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;

}

.programlisting ~ a,
.programlisting,
.screen  {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #ddd;
        color: #000;
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

a[href] {
    text-decoration: none;
    color: #0a5ba8;
   }

a[href]:hover {
    text-decoration:underline
}

a:visited {
    color: #131580;
   }

a:active {
    color: #0a5ba8;
   }